* {
    box-sizing: border-box;
}

.container {
    position: relative;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.title {
    text-align: center;
    padding: 40px;
    color: white;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
    display: flex;
    margin-bottom: 200px;
    background: linear-gradient(120deg,#ff8800, #e000d5);
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background: linear-gradient(120deg,#ff8800, #e000d5);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 70px;
}

.column:hover {
    transform: scale(1.05);
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}