* {
    box-sizing: border-box;
}

.container {
    position: relative;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.title {
    text-align: center;
    padding: 40px;
    color: white;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
    display: flex;
    margin-bottom: 200px;
    background: linear-gradient(120deg,#ff8800, #e000d5);
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.images {
    display: flex;
    gap: 10px;
    overflow: hidden;
}

/* Alap (desktop) */
.movie-img {
    width: 220px;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
}

/* Tablet */
@media (max-width: 900px) {
    .movie-img {
        width: 180px;
        height: 260px;
    }
}

/* Mobil */
@media (max-width: 600px) {
    .movie-img {
        width: 140px;
        height: 200px;
    }

    .carousel button {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
}

.carousel button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg,#ff8800, #e000d5);
}

.movie-img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

.movie-img:hover {
    transform: scale(1.05);
}

.movie-title {
    justify-content: center;
    display: flex;
    flex-direction: column;
}



.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 70px;
}

.column:hover {
    transform: scale(1.05);
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}