.seats-page {
  min-height: 100vh;
  padding: 120px 20px 40px;
  text-align: center;
  color: white;
}

.seats-page h2 {
  font-size: 34px;
  margin-bottom: 30px;
}

.screen {
  margin: 0 auto 35px;
  width: 420px;
  max-width: 100%;
  background: #d9d9d9;
  color: black;
  padding: 14px;
  border-radius: 14px;
  font-size: 20px;
  font-weight: 700;
}

/* SZÉKEK */
.seats-grid {
  display: grid;
  grid-template-columns: repeat(5, 70px);
  gap: 16px;
  justify-content: center;
  margin: 0 auto 40px;
  width: fit-content;
  max-width: 100%;
}

.seat {
  width: 70px;
  height: 70px;
  background: #4a4a4a;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.seat:hover {
  transform: scale(1.05);
}

.seat.selected {
  background: limegreen;
}

.seat.occupied {
  background: red;
  cursor: not-allowed;
}

/* INFO */
.info {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.7;
}

/* GOMB */
.booking-btn {
  margin-top: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: linear-gradient(120deg, #ff8800, #e000d5);
  color: white;
  width: auto;
}
.home-link{
  font-size: 20px;
  margin-bottom: 30px;
}

/* TABLET */
@media (max-width: 768px) {
  .seats-page {
      padding: 105px 16px 32px;
  }

  .seats-page h2 {
      font-size: 28px;
      margin-bottom: 24px;
  }

  .screen {
      width: 320px;
      padding: 12px;
      font-size: 18px;
  }

  .seats-grid {
      grid-template-columns: repeat(5, 56px);
      gap: 12px;
  }

  .seat {
      width: 56px;
      height: 56px;
      border-radius: 10px;
  }

  .info {
      font-size: 17px;
  }
}

/* MOBIL */
@media (max-width: 480px) {
  .seats-page {
      padding: 95px 12px 28px;
  }

  .seats-page h2 {
      font-size: 22px;
      margin-bottom: 18px;
  }

  .screen {
      width: 240px;
      padding: 10px;
      font-size: 16px;
      border-radius: 10px;
      margin-bottom: 24px;
  }

  .seats-grid {
      grid-template-columns: repeat(5, 44px);
      gap: 8px;
      margin-bottom: 28px;
  }

  .seat {
      width: 44px;
      height: 44px;
      border-radius: 8px;
  }

  .info {
      font-size: 15px;
      line-height: 1.5;
  }

  .book-btn {
      padding: 12px 28px;
      font-size: 16px;
      border-radius: 10px;
  }
}